@use "sass:math";

// CHANGE THESE TO CHANGE THEME
$HUE_MAIN: 70;
$HUE_COMPLIMENTARY: calc($HUE_MAIN + 90);

/**
 * Get the colour with the provided type and value parameters.
 *
 * type is the type of colour you want to retrieve. Possible values are 
 * ["accent", "neutral"]
 *
 * value is the tone of the colour you want to retrieve. Values range from
 * 0 - 100 with 0 being black and 100 being white.
 */
@function getColour($type, $value, $saturation: 0%) {
	$sat: $saturation * 1%;
	@if ($saturation == 0%) {
		$sat: math.div($value, 100) * math.div($value, 100) * 100%;
	}
	$light: $value * 1%;
	@if ($type == "accent") {
		@return hsl($HUE_MAIN, $sat, $light);
	}
	@return hsl($HUE_COMPLIMENTARY, $sat, $light);
}

:root {
	// Font Families
	--ffSans: "Hanken Grotesk", sans-serif;
	--ffMonospace: "Fragment Mono", monospace;
}

*,
*::after,
*::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: var(--ffSans);
}

html {
	overflow-x: hidden;
	scroll-behavior: smooth;
	background-color: getColour("neutral", 10);
	color: getColour("accent", 90);
}

::selection {
	background-color: getColour("accent", 50);
}

section {
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 2rem;
}

header {
	position: fixed;
	width: 100vw;
	background-color: transparentize(
		$color: getColour("neutral", 10),
		$amount: 0.8
	);
	backdrop-filter: blur(0.5rem);
	padding: 2rem;
}

nav {
	ul {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		gap: 2rem;
		li {
			list-style-type: none;
			a {
				text-decoration: none;
				font: inherit;
				color: unset;
				transition: color 150ms ease;
				&:hover {
					color: getColour("accent", 60);
				}
			}
		}
	}
}

.overline {
	font-family: var(--ffMonospace);
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: small;
}

.landing {
	flex-direction: row;
	flex-wrap: wrap-reverse;
	justify-content: center;
	gap: 1rem;
	padding: 6rem;
	.content {
		flex-grow: 1;
	}
	.title {
		font-size: clamp(3rem, 6vmin, 5rem);
		margin-bottom: 0.5rem;
	}
	.handWave {
		display: inline-block;
		transform-origin: bottom right;
		animation: wave 1s ease infinite;
	}
	.subtitle {
		font-size: clamp(1rem, 2vmin, 2rem);
		overflow-y: hidden;
		// transform-origin: top left;
		.otherTitles {
			display: inline-block;
			transition: 250ms ease;
			transition-property: transform, opacity;
		}
	}
	.projectsBtn {
		.arrow {
			display: inline-block;
			transition: transform 250ms ease;
		}
		&:hover {
			.arrow {
				transform: translateX(5px);
			}
		}
	}
	.imageWrapper {
		aspect-ratio: 1/1;
		flex-grow: 1;
		min-width: 128px;
		display: flex;
		align-items: center;
		justify-content: center;
		img {
			height: 80%;
			vertical-align: middle;
			text-align: center;
		}
	}
}

.title {
	font-size: clamp(2rem, 2vmin, 2.5rem);
	margin-bottom: 1rem;
}

.btn {
	padding: 0.75rem 1.5rem;
	cursor: pointer;
	border-radius: 0.5rem;
	font-weight: 500;
	font-size: clamp(0.75rem, 1.75vmin, 1.25rem);
	background-color: getColour("neutral", 80);
	color: getColour("neutral", 20);
	transition: 250ms ease;
	transition-property: background-color, color;
	&:hover {
		background-color: getColour("neutral", 60);
		color: getColour("neutral", 90);
	}
	&--primary {
		background-color: getColour("accent", 50);
		color: getColour("accent", 90);
		border: none;
		&:hover {
			background-color: getColour("accent", 60);
			color: getColour("accent", 90);
		}
	}
	&--outlined {
		background: transparent;
		border: 1px solid getColour("neutral", 20);
		color: getColour("neutral", 90);
		&:hover {
			background-color: getColour("neutral", 20);
			color: getColour("neutral", 99);
		}
	}
}

.buttonWrapper {
	margin-top: 2rem;
}

.floating {
	height: initial;
	width: initial;
	padding: 2rem;
	.content {
		background: rgba(white, 0.1);
		border-radius: 0.5rem;
		padding: 1rem;
		width: 100%;
	}
}

.projectsWrapper {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	project-card {
		font-family: var(--ffMonospace);
		padding: 1rem;
		border: 1px solid currentColor;
		border-radius: 0.5rem;
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		* {
			font: inherit;
		}
		.tag {
			font-size: clamp(0.35rem, 1.2vmin, 0.75rem);
			text-transform: uppercase;
			padding: clamp(1px, 1vmin, 0.5rem) clamp(2px, 1.2vmin, 0.75rem);
			background-color: getColour("accent", 10, 100);
			color: getColour("accent", 90);
			border-radius: 100rem;
		}
		.tagWrapper {
			margin-top: 0.25rem;
			display: flex;
			gap: 0.5rem;
		}
		.project__title {
			font-size: clamp(1rem, 2vmin, 2rem);
		}
		.project__desc {
			font-size: clamp(0.75rem, 1.5vmin, 1.5rem);
			margin-top: 1rem;
			flex-grow: 1;
		}
		.project__linkBtn {
			width: 100%;
			border: none;
			margin-top: 1rem;
			border-radius: 0.25rem;
		}
	}
}

.about {
	align-items: start;
	& > .content {
		width: calc(100% - 6rem);
		margin-inline: 3rem;
		flex-grow: 8;
		flex-wrap: wrap-reverse;
		display: flex;
		align-items: center;
		justify-content: space-between;
		.text {
			flex-grow: 1;
		}
	}
	&__para {
		max-width: 90ch;
		font-family: var(--ffMonospace);
	}
	.cvWrapper {
		background-color: red;
		flex-grow: 1;
		height: 60%;
		iframe {
			width: 100%;
			height: 100%;
		}
		button {
			display: block;
			width: 100%;
		}
	}
	.contact {
		background-color: rgba(white, 0.1);
		border-radius: 0.5rem;
		padding: 1rem;
		flex-grow: 1;
		display: flex;
		flex-direction: row;
		gap: 1rem;
		&__para {
			font-family: var(--ffMonospace);
		}
		.contactDetailWrapper {
			display: flex;
			flex-grow: 1;
			flex-wrap: wrap;
			gap: 1rem;
			.contactMethod {
				flex-grow: 1;
				min-width: 15rem;
				&__value {
					font-family: var(--ffMonospace);
				}
			}
		}
	}
}

.fade {
	opacity: 0;
	transform: translate(0px, -10px);
	transition: 750ms cubic-bezier(0.1, 0.75, 0.57, 1);
	transition-property: opacity, transform;
}

@keyframes wave {
	0% {
		transform: rotate(0deg);
	}
	15% {
		transform: rotate(20deg);
	}
	35% {
		transform: rotate(5deg);
	}
	75% {
		transform: rotate(15deg);
	}
	100% {
		transform: rotate(0deg);
	}
}
