// CHANGE THESE TO CHANGE THEME
$HUE_MAIN: 220;
$HUE_COMPLIMENTARY: calc($HUE_MAIN + 90);

$neutral10: hsl($HUE_COMPLIMENTARY, 5%, 7%);
$neutral20: hsl($HUE_COMPLIMENTARY, 2%, 12%);
$neutral40: hsl($HUE_COMPLIMENTARY, 4%, 40%);
$neutral60: hsl($HUE_COMPLIMENTARY, 6%, 60%);
$neutral99: hsl($HUE_COMPLIMENTARY, 100%, 99%);
$neutral100: hsl($HUE_COMPLIMENTARY, 100%, 100%);

$accent10: hsl($HUE_MAIN, 100%, 10%);
$accent40: hsl($HUE_MAIN, 100%, 40%);
$accent50: hsl($HUE_MAIN, 100%, 46%);
$accent60: hsl($HUE_MAIN, 100%, 57%);
$accent90: hsl($HUE_MAIN, 100%, 90%);

:root {
	// Font Families
	--ffSans: "Hanken Grotesk", sans-serif;
	--ffMonospace: "Fragment Mono", monospace;
}

*,
*::after,
*::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: var(--ffSans);
}

html {
	overflow-x: hidden;
	scroll-behavior: smooth;
	background-color: $neutral10;
	color: $neutral99;
}

section {
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 2rem;
}

header {
	position: fixed;
	width: 100vw;
	background-color: transparentize($color: $neutral10, $amount: 0.8);
	backdrop-filter: blur(0.5rem);
	padding: 2rem;
}

nav {
	ul {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		gap: 2rem;
		li {
			list-style-type: none;
			a {
				text-decoration: none;
				font: inherit;
				color: unset;
				transition: color 150ms ease;
				&:hover {
					color: $accent60;
				}
			}
		}
	}
}

.overline {
	font-family: var(--ffMonospace);
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: small;
}

.landing {
	flex-direction: row;
	flex-wrap: wrap-reverse;
	justify-content: center;
	gap: 1rem;
	padding: 6rem;
	.content {
		flex-grow: 1;
	}
	.title {
		font-size: clamp(2rem, 5vmin, 5rem);
	}
	.handWave {
		display: inline-block;
		transform-origin: bottom right;
		animation: wave 1s ease infinite;
	}
	.subtitle {
		font-size: clamp(1rem, 2vmin, 2rem);
	}
	.projectsBtn {
		.arrow {
			display: inline-block;
			transition: transform 250ms ease;
		}
		&:hover {
			.arrow {
				transform: translateX(5px);
			}
		}
	}
	.imageWrapper {
		aspect-ratio: 1/1;
		flex-grow: 1;
		min-width: 256px;
		background-color: black;
	}
}

.btn {
	padding: 0.75rem 1.5rem;
	cursor: pointer;
	border-radius: 0.5rem;
	font-weight: 500;
	font-size: clamp(0.75rem, 1.75vmin, 1.25rem);
	background-color: $neutral40;
	color: $neutral99;
	transition: 250ms ease;
	transition-property: background-color, color;
	&:hover {
		background-color: $neutral60;
		color: $neutral10;
	}
	&--primary {
		background-color: $accent50;
		color: $accent90;
		border: none;
		&:hover {
			background-color: $accent40;
			color: $accent90;
		}
	}
	&--outlined {
		background: transparent;
		border: 1px solid $neutral20;
		&:hover {
			background-color: $neutral20;
			color: $neutral99;
		}
	}
}

.buttonWrapper {
	margin-top: 2rem;
}

.floating {
	height: initial;
	width: initial;
	padding: 2rem;
	.content {
		background: $neutral20;
		border-radius: 0.5rem;
		padding: 1rem;
		width: 100%;
		&__title {
			margin-bottom: 1rem;
		}
	}
}

.projectsWrapper {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	project-card {
		font-family: var(--ffMonospace);
		padding: 1rem;
		border: 1px solid currentColor;
		border-radius: 0.5rem;
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		* {
			font: inherit;
		}
		.tag {
			font-size: clamp(0.35rem, 1.2vmin, 0.75rem);
			text-transform: uppercase;
			padding: clamp(1px, 1vmin, 0.5rem) clamp(2px, 1.2vmin, 0.75rem);
			background-color: $accent10;
			color: $accent90;
			border-radius: 100rem;
		}
		.tagWrapper {
			margin-top: 0.25rem;
			display: flex;
			gap: 0.5rem;
		}
		.project__title {
			font-size: clamp(1rem, 2vmin, 2rem);
		}
		.project__desc {
			font-size: clamp(0.75rem, 1.5vmin, 1.5rem);
			margin-top: 1rem;
			flex-grow: 1;
		}
		.project__linkBtn {
			width: 100%;
			border: none;
			margin-top: 1rem;
			border-radius: 0.25rem;
		}
	}
}

.about {
	align-items: start;
	& > .text {
		margin-inline: 3rem;
		max-width: 90ch;
		flex-grow: 8;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	&__para {
		font-family: var(--ffMonospace);
	}
	.contact {
		background-color: $neutral20;
		border-radius: 0.5rem;
		padding: 1rem;
		flex-grow: 1;
		display: flex;
		flex-direction: row;
		gap: 1rem;
		&__para {
			font-family: var(--ffMonospace);
		}
		.contactDetailWrapper {
			display: flex;
			flex-grow: 1;
			flex-wrap: wrap;
			gap: 1rem;
			.contactMethod {
				flex-grow: 1;
				min-width: 15rem;
				&__value {
					font-family: var(--ffMonospace);
				}
			}
		}
	}
}

@keyframes wave {
	0% {
		transform: rotate(0deg);
	}
	15% {
		transform: rotate(20deg);
	}
	35% {
		transform: rotate(5deg);
	}
	75% {
		transform: rotate(15deg);
	}
	100% {
		transform: rotate(0deg);
	}
}
