:root {
  --ffSans: "Nimbus Sans L", sans-serif;
  --ffMonospace: "Fragment Mono", monospace;
  --accent10: hsl(213, 100%, 10%);
  --accent50: hsl(213, 100%, 46%);
  --accent90: hsl(213, 100%, 90%);
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--ffSans);
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

section {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  position: fixed;
  width: 100vw;
  padding: 2rem;
}

nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
nav ul li {
  list-style-type: none;
  font-family: var(--ffMonospace);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: small;
}
nav ul li a {
  text-decoration: none;
  font: inherit;
  color: unset;
}

.landing {
  flex-direction: row;
  justify-content: space-between;
  padding-inline: 6rem;
}
.landing .imageWrapper {
  aspect-ratio: 1/1;
  height: 80%;
  background-color: black;
}
.landing .title {
  font-size: clamp(2rem, 5vmin, 5rem);
}
.landing .handWave {
  display: inline-block;
  transform-origin: bottom right;
  animation: wave 1s ease infinite;
}

.btn {
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  border-radius: 0.5rem;
}
.btn--primary {
  background-color: var(--accent50);
  color: var(--accent90);
  border: none;
}
.btn--outlined {
  background: transparent;
  border: 1px solid currentColor;
}

.buttonWrapper {
  margin-top: 2rem;
}

.floating {
  height: initial;
  width: initial;
  padding: 2rem;
}
.floating .content {
  background: black;
  border-radius: 0.5rem;
  padding: 1rem;
  width: 100%;
}
.floating .content__title {
  margin-bottom: 1rem;
}

.projectsWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  font-family: var(--ffMonospace);
}
.projectsWrapper project-card {
  padding: 1rem;
  border: 1px solid currentColor;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
}
.projectsWrapper project-card .tag {
  font: inherit;
  font-size: clamp(0.35rem, 1.2vmin, 0.75rem);
  text-transform: uppercase;
  padding: clamp(1px, 1vmin, 0.5rem) clamp(2px, 1.2vmin, 0.75rem);
  background-color: var(--accent10);
  color: var(--accent90);
  border-radius: 100rem;
}
.projectsWrapper project-card .tagWrapper {
  margin-top: 0.25rem;
  display: flex;
  gap: 0.5rem;
  font: inherit;
}
.projectsWrapper project-card .project__title {
  font-size: clamp(1rem, 2vmin, 2rem);
}
.projectsWrapper project-card .project__desc {
  font-size: clamp(0.75rem, 1.5vmin, 1.5rem);
  margin-top: 1rem;
  flex-grow: 1;
}
.projectsWrapper project-card .project__linkBtn {
  width: 100%;
  border: none;
  margin-top: 1rem;
  border-radius: 0.25rem;
}

.about {
  align-items: start;
}
.about .text {
  margin-inline: 3rem;
  max-width: 90ch;
}

footer {
  width: 100%;
}

.contact .content {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
}
.contact .contactDetailWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 1rem;
  gap: 1rem;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(20deg);
  }
  35% {
    transform: rotate(5deg);
  }
  75% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}/*# sourceMappingURL=main.css.map */